body {
 text-align: center;
 background-color: #222;
 color: transparent;
}
h1 {
position: relative;
 margin-top: 45%;
 font-size: 60px;
 -webkit-text-stroke: 0.5px white;
}
h1::before {
content: attr(data-text);
 width: 0;
 height: 100%;
 position: absolute;
 top: 0;
 color: aqua;
 border-right: 1px solid aqua;
  -webkit-text-stroke: 0.5px aqua;
  overflow: hidden;
  animation: animate 5s linear infinite;
}
@keyframes animate{
0%, 10%, 100%{
width: 0;
}
70%, 90%{
width: 73%;
}
}
